@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

.margenes {
  margin-left: 10%;
  margin-right: 10%;
}

.mt {
  padding-top: 100px;
}

body main {
  padding-top: 30px;
}

header {
  width: 100%;
  height: 70px;
}

.logo {
  height: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo p {
  margin-top: 30px;
}

.logo a {
  color: white;
  margin-top: 30px;
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
  font-family: 'Segoe UI';
  font-style: oblique;
}

.graficomargen {
  margin-top: 50px;
}

.h1t {
  color: beige;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 15px;
  font-family: 'Cinzel', serif;
}

.margenesen {
  margin-top: 25%;
  margin-right: 15px;
}

fieldset {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.background {
  background-color: #131722;
  color: white;
}

.bg-dark {
  background-color: rgba(19, 23, 34, 0.884) !important;
}

.bordenavbar {
  border-width: 1px;
  -webkit-box-shadow: 1px 1px 10px rgba(18, 160, 226, 0.596);
          box-shadow: 1px 1px 10px rgba(18, 160, 226, 0.596);
}

.fondobrand {
  border-width: 10px;
  border-radius: 75px;
  -webkit-box-shadow: 1px 1px 10px #4838d8;
          box-shadow: 1px 1px 10px #4838d8;
}

.piedp {
  bottom: 0;
  width: 100%;
}

/* FIN */
.boton {
  display: inline-block;
  border-radius: 3px;
  padding: 7px 12px;
  border: 1px solid #D5D5D5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#DDD));
  background-image: linear-gradient(#EEE, #DDD);
  font: 700 13px/18px Helvetica, arial;
}

.boton--estado-success {
  color: #FFF;
  background: #569E3D -webkit-gradient(linear, left top, left bottom, from(#79D858), to(#569E3D)) repeat-x;
  background: #569E3D linear-gradient(#79D858, #569E3D) repeat-x;
  border-color: #4A993E;
}

.boton--estado-peligro {
  color: #FFF;
  background: #791313 -webkit-gradient(linear, left top, left bottom, from(#c00a0a), to(#680404)) repeat-x;
  background: #791313 linear-gradient(#c00a0a, #680404) repeat-x;
  border-color: #4A993E;
}

.boton--estado-warning {
  color: #179eb6;
  background: #c9eb0c;
  border-color: #e6bf42;
}

.boton--estado-login {
  color: white;
  background: #176bb1;
  border-color: #14c0f5;
}

.boton--estado-sign-up {
  color: white;
  background: #961652;
  border-color: #e034d8;
}

.boton--estado-offline {
  color: white;
  background: #b12a21;
  border-color: #8d1313;
}

.boton--estado-online {
  color: white;
  background: #0f8623;
  border-color: #27bb19;
}

/*BUCLE*/
.boton-1 {
  width: 6em;
  color: skyblue;
}

/* EACH */
.auto-icon, .moto-icon, .avion-icon {
  height: 250px;
  width: 400px;
  border: darkgoldenrod solid 3px;
}

.auto-icon {
  background-image: url("../images/auto.jpg");
  background-size: cover;
}

.moto-icon {
  background-image: url("../images/moto.jpg");
  background-size: cover;
}

.avion-icon {
  background-image: url("../images/avion.jpg");
  background-size: cover;
}

.boton-2 {
  width: 12em;
  color: white;
}

/* EACH */
.auto-icon, .moto-icon, .avion-icon {
  height: 250px;
  width: 400px;
  border: darkgoldenrod solid 3px;
}

.auto-icon {
  background-image: url("../images/auto.jpg");
  background-size: cover;
}

.moto-icon {
  background-image: url("../images/moto.jpg");
  background-size: cover;
}

.avion-icon {
  background-image: url("../images/avion.jpg");
  background-size: cover;
}

.boton-3 {
  width: 18em;
  color: white;
}

/* EACH */
.auto-icon, .moto-icon, .avion-icon {
  height: 250px;
  width: 400px;
  border: darkgoldenrod solid 3px;
}

.auto-icon {
  background-image: url("../images/auto.jpg");
  background-size: cover;
}

.moto-icon {
  background-image: url("../images/moto.jpg");
  background-size: cover;
}

.avion-icon {
  background-image: url("../images/avion.jpg");
  background-size: cover;
}

/* MAPAS */
.txt--fuente1 {
  background-color: black;
  height: 200px;
  width: 400px;
}

.txt--fuente2 {
  background-color: blue;
  height: 200px;
  width: 400px;
}

.txt--fuente3 {
  background-color: red;
  height: 200px;
  width: 400px;
}
/*# sourceMappingURL=estilos.css.map */